<p-panel header="Pipes Personalizados" class="p-1">
  <p class="text-justify">
    Pipes Personalizados que nos ayudan a cumplir ciertas tareas especificas dentro de nuestra app
  </p>
</p-panel>

<div class="grid">
  <div class="col-12">
    <p-card  legend="Custom Pipes">
      <p-divider>
        <strong class="text-xl">ToogleCase</strong>
      </p-divider>
      <p class="text-justify">
        Pipe que nos ayuda a transformar de {{'MINÚSCULAS'| toggleCase:isUpperCase}} a {{'MAYÚSCULAS' | toggleCase:isUpperCase}} y viceversa
      </p>
      <p-divider>
        <strong class="text-xl">Formato</strong>
      </p-divider>
      <p class="text-center">
        {{toggleForm}}
      </p>
    </p-card>
  </div>
  <div class="col-12">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button
          label="ToogleCase"
          icon="pi pi-sync"
          styleClass="p-button-text p-button-warning"
          (click)="toggleUpperCase()">
        </p-button>
      </div>
      <div class="p-toolbar-group-end">
        <p-button label="By Name"
                  icon="pi pi-sort-alpha-down"
                  styleClass="p-button-text p-button-success mr-1"
                  (onClick)="changeOrder('name')"></p-button>
        <p-button label="Can Fly"
                  icon="pi pi-check"
                  styleClass="p-button-text p-button-danger mr-1"
                  (onClick)="changeOrder('canFly')"></p-button>
        <p-button label="ByColor"
                  icon="pi pi-sort"
                  styleClass="p-button-text p-button-help"
                  (onClick)="changeOrder('color')"></p-button>
      </div>
    </p-toolbar>
  </div>
  <div class="col-12 mt-2">
    <p-panel header="Héroes">
      <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly | titlecase }}</td>
            <td>{{ getColorName(hero.color) }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
