<div class="text-3xl py-3">
  <p-card header="Pipes Básicos" class="text-center">
    <p class="text-justify text-xl">
      Pipes incluidos en Angular por default que nos sirven para transformar una cadena de caracteres (string). <br>
      A un formato que se ajuste a nuestras necesidades, además cada pipe contiene varias opciones para que el resultado obtenido se ajuste a un más a nuestros requerimientos entre los más utilizados se encuentran
    </p>
  </p-card>
</div>

<div class="grid">
  <div class="col-12">
    <p-card header="UpperCase">
      <div class="grid">
        <p>
          Convierte un texto recibido a todo en minúsculas
          <strong>Entrada</strong>
        </p>
        <div class="col-6">
          1
        </div>
        <div class="col-6">
          2
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12">
    <p-card header="LowerCase">
      {{ nameLower | lowercase }}
    </p-card>
  </div>
  <div class="col-12">
    <p-card header="TitleCase">
      {{ fullName | titlecase }}
    </p-card>
  </div>
</div>
