<div class="card pt-2">
  <div class="mb-4">
    <p-card header="Number Pipes" class="text-center">
      <p class="text-base text-justify">
        Transforman un número a formatos de divisas, separacion por miles o porcentual de igual cuenta de igual forma contamos con parametros para ajustar de mejor forma el resultado final
      </p>
    </p-card>
  </div>
</div>
<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-dollar px-1"></i>
            <span>Currency</span>
        </ng-template>
        <div class="fadein animation-duration-1000 animation-iteration-1">
          <p>
            Transforma un número a un a cadena tipo divisa formateada de acuerdo a las reglas de configuración regional declarada o por defecto ingles.
          </p>
          <p-divider>
            <strong class="text-xl">Formato</strong>
          </p-divider>
          <p class="text-center">
            {{formCurrency}}
          </p>
          <p-divider>
            <strong class="text-xl">Parámetros</strong>
          </p-divider>
          <div class="grid">
            <div class="col-12">
              <p-table [value]="params" [columns]="columnas" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-param let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" class="text-xs">
                      {{param[col.field]}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <p-divider>
            <strong class="text-xl">Ejemplos</strong>
          </p-divider>
          <div class="grid text-center">
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Entrada</strong>
              </p-divider>
              <p>
                {{in}}
              </p>
            </div>
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Pipe</strong>
              </p-divider>
              <p>
                currency
              </p>
            </div>
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Salida</strong>
              </p-divider>
              <p>
                {{in|currency}}
              </p>
            </div>
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Entrada</strong>
              </p-divider>
              <p>
                {{in}}
              </p>
            </div>
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Pipe</strong>
              </p-divider>
              <p>
                currency:'CAD'
              </p>
            </div>
            <div class="col-4">
              <p-divider>
                <strong class="text-base">Salida</strong>
              </p-divider>
              <p>
                {{in| currency:'CAD'}}
              </p>
            </div>
          </div>
        </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
          <i class="fa-solid fa-0 px-1"></i>
          <span>Decimal</span>
      </ng-template>
      <div class="fadein animation-duration-1000 animation-iteration-1">
        <p>
          Formatea un valor según las opciones de dígitos y las reglas de configuración regional. La configuración regional determina el tamaño y el separador de grupos, el carácter de punto decimal y otras configuraciones específicas
        </p>
        <p-divider>
          <strong class="text-xl">Formato</strong>
        </p-divider>
        <p class="text-center">
          {{formDecimal}}
        </p>
        <p-divider>
          <strong class="text-xl">Parámetros</strong>
        </p-divider>
        <div class="grid">
          <div class="col-12">
            <p-table [value]="params1" [columns]="columnas" [responsive]="true">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-param let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns" class="text-xs">
                    {{param[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <p-divider>
          <strong class="text-xl">Ejemplos</strong>
        </p-divider>
        <div class="grid text-center">
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Entrada</strong>
            </p-divider>
            <p>
              {{pi}}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Pipe</strong>
            </p-divider>
            <p>
              number
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Salida</strong>
            </p-divider>
            <p>
              {{pi|number}}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Entrada</strong>
            </p-divider>
            <p>
              {{pi}}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Pipe</strong>
            </p-divider>
            <p>
              number:'4.1-5'
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Salida</strong>
            </p-divider>
            <p>
              {{pi | number:'4.1-5'}}
            </p>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
          <i class="fa-solid fa-percent px-1"></i>
          <span>Percent</span>
      </ng-template>
      <div class="fadein animation-duration-1000 animation-iteration-1">
        <p>
          Transforma un número en una cadena de porcentaje, formateada según las reglas locales que determinan el tamaño y el separador de grupos, el carácter de punto decimal y otras configuraciones específicas de la configuración local.
        </p>
        <p-divider>
          <strong class="text-xl">Formato</strong>
        </p-divider>
        <p class="text-center">
          {{formPercent}}
        </p>
        <p-divider>
          <strong class="text-xl">Parámetros</strong>
        </p-divider>
        <div class="grid">
          <div class="col-12">
            <p-table [value]="params1" [columns]="columnas" [responsive]="true">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-param let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns" class="text-xs">
                    {{param[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <p-divider>
          <strong class="text-xl">Ejemplos</strong>
        </p-divider>
        <div class="grid text-center">
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Entrada</strong>
            </p-divider>
            <p>
              {{in}}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Pipe</strong>
            </p-divider>
            <p>
              percent
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Salida</strong>
            </p-divider>
            <p>
              {{pi| percent }}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Entrada</strong>
            </p-divider>
            <p>
              {{pi}}
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Pipe</strong>
            </p-divider>
            <p>
              percent:'4.3-5'
            </p>
          </div>
          <div class="col-4">
            <p-divider>
              <strong class="text-base">Salida</strong>
            </p-divider>
            <p>
              {{in | percent:'4.3-5'}}
            </p>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
